/*ACTIONS TAB*/
.actions{
	width: 100%;
	border-spacing: 10px 100px;
    border-collapse: separate;
}

.action-bg{
	width: 30vh;
	height: 30vh;
	background-color:#6980D8; 
	text-align: center;
	line-height: 273px;
	vertical-align: middle;
	display:block;
	box-shadow: 20px 25px 30px rgba(0, 0, 0, 0.5);
    animation: float 5s infinite;
    opacity: 0.9;
}

.action-bg img{
	position: absolute;
	width: inherit;
	height: inherit;
	opacity: 0.8;
	margin-left: -8.5vh;
}
.salary-details{
	background: #5D92BA;
}

.action-bg button{
  	padding: 6px 12px;
  	width: 120px;
  	height: 40px;
  	/*margin: -20px -50px;*/
  	font-size: 18px;
  	border: 2px solid #D5DDE5;
  	background-color: #1b1e24;
  	color: white;
  	text-align: center;
  	position:relative;
    top:55%;     
}

.action-bg button:hover{
	cursor: pointer;
	background-color: #3c424f;
}