.shifts-container{
	width: 100%;
}

.shifts-container tr{
	width:100%;
}

.shifts-container table{
	text-align:center;
	border-collapse: initial;
	width: 100%;
}

.shifts-container td{
	width:100px;	
}

.shifts-container td:last-child{
	width: 50px;
}