/*.detail{
	display: none;
}

.detail:FIRST-CHILD {
	display: block;
}*/
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    
    width:100%;
}

.container{	
	margin: 0 auto;	
}

.tab-content{
	width:1250px;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 70px;
	background: black;
}
ul.tabs li{
	background: none;
	color: white;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	margin-top:15px;
	margin-left: 10px;
}

ul.tabs li.current{
    background: #ee1111;;
	color: white;
}

.tab-content{
	display: none;
	
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

#employeesTab th, #employeesTab td{
	text-align: center;
}

#employeesTab {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  display: inline-block;
  float: left;
}

.employee-head th {
  color:#D5DDE5;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:20px;
  font-weight: 100;
  padding:15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.employee-shifts{
	background:#e8e8ec;
	border-bottom: 1px solid #C1C3D1;
}

.shifts-container th{
	color:#D5DDE5;
	background:#1b1e24;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#employeesTab th:first-child {
  border-top-left-radius:3px;
}
 
#employeesTab th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

.employee-row tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.employee-row tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
.employee-row tr:first-child {
  border-top:none;
}

.employee-row tr:last-child {
  border-bottom:none;
}
 
.employee-row tr:nth-child(odd) {
  background:#EBEBEB;
}
 
.employee-row tr:nth-child(odd):hover td {
  background:#4E5066;
}

.employee-row tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.employee-row tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

.employee-row td {
  background:#FFFFFF;
  padding: 6px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1; 
}

.employee-row td:last-child {
  border-right: 0px;
}

#detailInfo{
	width: 400px;
    display: inline-block;
    float: left;
    margin-left: 100px;
}

.goup:before,
.group:after{
	content: " ";
	display: table;
}
.group:after{
	clear: both;
}
.group{
	*zoom: 1;
}


